body {
    min-height: 100%;
    height: 100vh;
}
.__perseus_content {
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    position: absolute;
}
header {
    grid-row: 1;
    position: fixed;
    top: 0;
}
footer {
    grid-row-start: 3;
    grid-row-end: 4;
}
