[package]
name = "perseus-macro"
version = "0.3.4-rc.4"
edition = "2018"
autotests = false
description = "The Perseus macros."
authors = ["arctic_hen7 <arctic_hen7@pm.me>"]
license = "MIT"
repository = "https://github.com/arctic-hen7/perseus"
homepage = "https://arctic-hen7.github.io/perseus"
readme = "../../README.md"
keywords = ["wasm", "frontend", "webdev", "ssg", "ssr"]
categories = ["wasm", "web-programming", "development-tools", "asynchronous", "gui"]

[lib]
proc-macro = true

# [[test]]
# name = "tests"
# path = "tests/progress.rs"

[dependencies]
quote = "1"
syn = "1"
proc-macro2 = "1"
darling = "0.13"
serde_json = "1"
sycamore-reactive = "^0.7.1"

[dev-dependencies]
trybuild = { version = "1.0", features = ["diff"] }
sycamore = "^0.7.1"
serde = { version = "1", features = [ "derive" ] }
perseus = { path = "../perseus", version = "0.3.4-rc.4" }

[features]
# Enables live reloading support (which makes the macros listen for live reload events and adjust appropriately). Do NOT enable this here without also enabling it on `perseus`!
live-reload = []
# Enables support for HSR (which makes the macros respond to live reload events by freezing and thawing as appropriate). Do NOT enable this here without also enabling is on `perseus`!
hsr = [ "live-reload" ]
