[package]
name = "perseus-macro"
version = "0.4.0-beta.15"
edition = "2021"
autotests = false
description = "The Perseus macros."
authors = ["arctic_hen7 <arctic_hen7@pm.me>"]
license = "MIT"
repository = "https://github.com/framesurge/perseus"
homepage = "https://framesurge.sh/perseus"
readme = "../../README.md"
keywords = ["wasm", "frontend", "webdev", "ssg", "ssr"]
categories = ["wasm", "web-programming", "development-tools", "asynchronous", "gui"]

[lib]
proc-macro = true

[dependencies]
quote = "1"
syn = "1"
proc-macro2 = "1"
darling = "0.13"

[dev-dependencies]
trybuild = { version = "1.0", features = ["diff"] }
sycamore = "^0.8.1"
serde = { version = "1", features = [ "derive" ] }
