[package]
name = "my-app"
version = "0.1.0"
edition = "2021"

[dependencies]
perseus = { version = "=0.4.0-beta.19", features = [ "hydrate" ] }
sycamore = "^0.8.1"

[target.'cfg(engine)'.dependencies]
tokio = { version = "1", features = [ "macros", "rt", "rt-multi-thread" ] }
perseus-axum = { version = "=0.4.0-beta.19", features = [ "dflt-server" ] }

[target.'cfg(client)'.dependencies]
