[package]
name = "perseus-rocket"
version = "0.4.0-beta.22"
edition = "2021"
description = "An integration that makes the Perseus framework easy to use with Rocket."
authors = ["Miroito <alban.vachette@gmail.com", "arctic_hen7 <arctic_hen7@pm.me>"]
license = "MIT"
repository = "https://github.com/framesurge/perseus"
homepage = "https://framesurge.sh/perseus"
readme = "./README.md"
keywords = ["wasm", "frontend", "webdev", "ssg", "ssr"]
categories = ["wasm", "web-programming::http-server", "development-tools", "asynchronous", "gui"]

[dependencies]
perseus = { path = "../perseus", version = "0.4.0-beta.21"}
rocket = "0.5.0-rc.2"

[features]
# Enables the default server configuration, which provides a convenience function if you're not adding any extra routes
dflt-server = []

[package.metadata.docs.rs]
rustc-args = ["--cfg=engine"]
rustdoc-args = ["--cfg=engine"]
