name: Test

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: cargo install bonnie
            - run: bonnie ci-prep
            - name: Run checks
              run: bonnie check
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: cargo install bonnie
            - run: bonnie ci-prep
            - name: Run traditional tests
              run: cargo test --all
    # We now have a separate job for each example's E2E testing because they all take a while, we may as well run them in parallel
    # The job for each E2E test is exactly the same except for a minor difference, so we'll use a matrix based on listing the subdirectories
    e2e-example-test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include:
                    # For now, we list all the examples we're testing, but in future this will be automatic
                    - name: basic
                      type: core
                    - name: freezing_and_thawing
                      type: core
                    - name: global_state
                      type: core
                    - name: i18n
                      type: core
                    - name: idb_freezing
                      type: core
                    - name: plugins
                      type: core
                    - name: router_state
                      type: core
                    - name: rx_state
                      type: core
                    - name: set_headers
                      type: core
                    - name: state_generation
                      type: core
                    - name: static_content
                      type: core
                    - name: unreactive
                      type: core
                    - name: index_view
                      type: core
        steps:
            - uses: actions/checkout@v2
            - run: cargo install bonnie wasm-pack rust-script
            - run: sudo apt update
            - run: sudo apt install firefox firefox-geckodriver
            - name: Run Firefox WebDriver
              run: geckodriver &
            - run: bonnie ci-prep
            - name: Run E2E tests for example ${{ matrix.name }} in category ${{ matrix.type }}
              run: bonnie test example-all-integrations ${{ matrix.type }} ${{ matrix.name }} --headless
